### Fonctions analytiques  
Effectuez des calculs complexes sur des groupes de lignes.  

#### Introduction  
Dans le micro-cours d'introduction √† SQL, vous avez appris √† utiliser les fonctions d'agr√©gation, qui effectuent des calculs sur des ensembles de lignes. Dans ce tutoriel, vous allez apprendre √† d√©finir des **fonctions analytiques**, qui op√®rent √©galement sur un ensemble de lignes. Cependant, contrairement aux fonctions d'agr√©gation, les fonctions analytiques renvoient une valeur (potentiellement diff√©rente) pour chaque ligne de la table d'origine.  

Les fonctions analytiques nous permettent d'effectuer des calculs complexes avec une syntaxe relativement simple. Par exemple, nous pouvons rapidement calculer des moyennes mobiles et des totaux cumul√©s, entre autres quantit√©s.  

#### Syntaxe  
Pour comprendre comment √©crire des fonctions analytiques, nous allons travailler avec une petite table contenant des donn√©es de deux personnes diff√©rentes qui s'entra√Ænent pour une course. La colonne `id` identifie chaque coureur, la colonne `date` contient le jour de la session d'entra√Ænement, et `time` montre le temps (en minutes) que le coureur a consacr√© √† l'entra√Ænement. **Supposons que nous voulions calculer une moyenne mobile des temps d'entra√Ænement** pour chaque coureur, o√π nous prenons toujours la moyenne de la session actuelle et de la session pr√©c√©dente. Nous pouvons le faire avec la requ√™te suivante :  

```sql
first_query
```

Toutes les fonctions analytiques ont une **clause** `OVER`, qui d√©finit les ensembles de lignes utilis√©s dans chaque calcul. La clause `OVER` a trois parties (optionnelles) :  

1. **La clause `PARTITION BY`** divise les lignes de la table en diff√©rents groupes. Dans la requ√™te ci-dessus, nous divisons par `id` afin que les calculs soient s√©par√©s par coureur.  
2. **La clause `ORDER BY`** d√©finit un ordre au sein de chaque partition. Dans l'exemple de requ√™te, l'ordre par la colonne `date` garantit que les sessions d'entra√Ænement ant√©rieures apparaissent en premier.  
3. **La clause finale (`ROWS BETWEEN 1 PRECEDING AND CURRENT ROW`)** est connue sous le nom de clause de cadre de fen√™tre. Elle identifie l'ensemble des lignes utilis√©es dans chaque calcul. Nous pouvons d√©signer ce groupe de lignes comme une fen√™tre. (En fait, les fonctions analytiques sont parfois appel√©es **fonctions de fen√™tre analytiques** ou **simplement fonctions de fen√™tre** !)  

```sql
first_query
```

#### (Plus d'informations sur) les clauses de cadre de fen√™tre  
Il existe plusieurs fa√ßons d'√©crire des clauses de cadre de fen√™tre :  

- `ROWS BETWEEN 1 PRECEDING AND CURRENT ROW` : la ligne pr√©c√©dente et la ligne actuelle.  
- `ROWS BETWEEN 3 PRECEDING AND 1 FOLLOWING` : les 3 lignes pr√©c√©dentes, la ligne actuelle et la ligne suivante.  
- `ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING` : toutes les lignes de la partition.  

Bien s√ªr, cette liste n'est pas exhaustive, et vous pouvez imaginer qu'il existe de nombreuses autres options ! Dans le code ci-dessous, vous verrez certaines de ces clauses en action.  

#### Trois types de fonctions analytiques  
L'exemple ci-dessus utilise une seule des nombreuses fonctions analytiques. **BigQuery** prend en charge une grande vari√©t√© de fonctions analytiques, et nous en explorerons quelques-unes ici. Pour une liste compl√®te, vous pouvez consulter la documentation.  

1) **Fonctions d'agr√©gation analytiques**  
Comme vous vous en souvenez peut-√™tre, `AVG()` (de l'exemple ci-dessus) est une fonction d'agr√©gation. La clause `OVER` est ce qui garantit qu'elle est trait√©e comme une fonction d'agr√©gation analytique. Les fonctions d'agr√©gation prennent toutes les valeurs de la fen√™tre comme entr√©e et renvoient une seule valeur.  

- `MIN()` (ou `MAX()`) : Renvoie la valeur minimale (ou maximale) des valeurs d'entr√©e.  
- `AVG()` (ou `SUM()`) : Renvoie la moyenne (ou la somme) des valeurs d'entr√©e.  
- `COUNT()` : Renvoie le nombre de lignes dans l'entr√©e.  

2) **Fonctions de navigation analytiques**  
Les fonctions de navigation attribuent une valeur en fonction de la valeur d'une ligne (g√©n√©ralement) diff√©rente de la ligne actuelle.  

- `FIRST_VALUE()` (ou `LAST_VALUE()`) : Renvoie la premi√®re (ou la derni√®re) valeur de l'entr√©e.  
- `LEAD()` (et `LAG()`) : Renvoie la valeur d'une ligne suivante (ou pr√©c√©dente).  

3) **Fonctions de num√©rotation analytiques**  
Les fonctions de num√©rotation attribuent des valeurs enti√®res √† chaque ligne en fonction de l'ordre.  

- `ROW_NUMBER()` : Renvoie l'ordre dans lequel les lignes apparaissent dans l'entr√©e (en commen√ßant par 1).  
- `RANK()` : Toutes les lignes avec la m√™me valeur dans la colonne de tri re√ßoivent la m√™me valeur de rang, o√π la ligne suivante re√ßoit une valeur de rang qui s'incr√©mente du nombre de lignes avec le rang pr√©c√©dent.

---
#### Exemple  
Nous allons travailler avec le jeu de donn√©es **San Francisco Open Data**. Nous commen√ßons par examiner les premi√®res lignes de la table `bikeshare_trips`.

In [3]:
from google.cloud import bigquery

# Cr√©er un objet "Client"
client = bigquery.Client()

# Construire une r√©f√©rence au dataset "san_francisco"
dataset_ref = client.dataset("san_francisco", project="bigquery-public-data")

# Requ√™te API - r√©cup√©rer le dataset
dataset = client.get_dataset(dataset_ref)

# Construire une r√©f√©rence √† la table "bikeshare_trips"
table_ref = dataset_ref.table("bikeshare_trips")

# Requ√™te API - r√©cup√©rer la table
table = client.get_table(table_ref)

# Aper√ßu des cinq premi√®res lignes de la table
client.list_rows(table, max_results=5).to_dataframe()

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type
0,1235850,1540,2016-06-11 08:19:00+00:00,San Jose Diridon Caltrain Station,2,2016-06-11 08:45:00+00:00,San Jose Diridon Caltrain Station,2,124,15206,Customer
1,1219337,6324,2016-05-29 12:49:00+00:00,San Jose Diridon Caltrain Station,2,2016-05-29 14:34:00+00:00,San Jose Diridon Caltrain Station,2,174,55416,Customer
2,793762,115572,2015-06-04 09:22:00+00:00,San Jose Diridon Caltrain Station,2,2015-06-05 17:28:00+00:00,San Jose Diridon Caltrain Station,2,190,95391,Customer
3,453845,54120,2014-09-15 16:53:00+00:00,San Jose Diridon Caltrain Station,2,2014-09-16 07:55:00+00:00,San Jose Diridon Caltrain Station,2,127,81,Customer
4,1245113,5018,2016-06-17 20:08:00+00:00,San Jose Diridon Caltrain Station,2,2016-06-17 21:32:00+00:00,San Jose Diridon Caltrain Station,2,153,95070,Customer

**Chaque ligne de la table correspond √† un trajet de v√©lo diff√©rent**, et nous pouvons utiliser **une fonction analytique** pour calculer le nombre cumul√© de trajets pour chaque date en **2015**.

In [8]:
# Requ√™te pour compter le nombre (cumul√©) de trajets par jour
num_trips_query = """
                  WITH trips_by_day AS
                  (
                  SELECT DATE(start_date) AS trip_date,
                      COUNT(*) as num_trips
                  FROM `bigquery-public-data.san_francisco.bikeshare_trips`
                  WHERE EXTRACT(YEAR FROM start_date) = 2015
                  GROUP BY trip_date
                  )
                  SELECT *,
                      SUM(num_trips) 
                          OVER (
                               ORDER BY trip_date
                               ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
                               ) AS cumulative_trips
                      FROM trips_by_day
                  """

# Ex√©cuter la requ√™te et renvoyer un DataFrame pandas
num_trips_result = client.query(num_trips_query).result().to_dataframe()
num_trips_result.head()

    trip_date  num_trips  cumulative_trips
0  2015-10-17        292            290485
1  2015-03-13       1208             67569
2  2015-01-14       1296             12005
3  2015-04-13       1337             98690
4  2015-05-23        392            140442

La requ√™te utilise une expression de table commune (**CTE**) pour d'abord calculer le nombre quotidien de trajets. Ensuite, nous utilisons `SUM()` comme fonction d'agr√©gation.  

- Puisqu'il n'y a pas de clause `PARTITION BY`, toute la table est trait√©e comme une seule partition.  
- La clause `ORDER BY` ordonne les lignes par date, o√π les dates ant√©rieures apparaissent en premier.  
- En d√©finissant la clause de cadre de fen√™tre sur `ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW`, nous nous assurons que toutes les lignes jusqu'√† et y compris la date actuelle sont utilis√©es pour calculer la somme (cumul√©e). (Remarque : Si vous lisez la documentation, vous verrez que c'est le comportement par d√©faut, donc la requ√™te renverrait le m√™me r√©sultat si nous omettions cette clause de cadre de fen√™tre.)  

---
La requ√™te suivante suit les stations o√π chaque v√©lo a commenc√© (dans `start_station_id`) et termin√© (dans `end_station_id`) la journ√©e du **25 octobre 2015**.

In [11]:
# Requ√™te pour suivre les stations de d√©but et de fin le 25 octobre 2015, pour chaque v√©lo
start_end_query = """
                  SELECT bike_number,
                      TIME(start_date) AS trip_time,
                      FIRST_VALUE(start_station_id)
                          OVER (
                               PARTITION BY bike_number
                               ORDER BY start_date
                               ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
                               ) AS first_station_id,
                      LAST_VALUE(end_station_id)
                          OVER (
                               PARTITION BY bike_number
                               ORDER BY start_date
                               ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
                               ) AS last_station_id,
                      start_station_id,
                      end_station_id
                  FROM `bigquery-public-data.san_francisco.bikeshare_trips`
                  WHERE DATE(start_date) = '2015-10-25' 
                  """                 
# Ex√©cuter la requ√™te et renvoyer un DataFrame pandas
start_end_result = client.query(start_end_query).result().to_dataframe()
start_end_result.head()

,bike_number,trip_time,first_station_id,last_station_id,start_station_id,end_station_id
0,363,12:05:00,41,61,41,54
1,363,13:56:00,41,61,54,60
2,363,17:38:00,41,61,60,46
3,363,22:17:00,41,61,46,61
4,138,12:45:00,24,83,24,83

La requ√™te utilise √† la fois `FIRST_VALUE()` et `LAST_VALUE()` comme fonctions analytiques.  

- La clause `PARTITION BY` divise les donn√©es en partitions bas√©es sur la colonne `bike_number`. Comme cette colonne contient des identifiants uniques pour les v√©los, cela garantit que les calculs sont effectu√©s s√©par√©ment pour chaque v√©lo.  
- La clause `ORDER BY` place les lignes dans chaque partition dans l'ordre chronologique.  
- Comme la clause de cadre de fen√™tre est `ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING`, pour chaque ligne, toute sa partition est utilis√©e pour effectuer le calcul. (Cela garantit que les valeurs calcul√©es pour les lignes de la m√™me partition sont identiques.)  

#### √Ä vous de jouer  
√âcrivez vos propres fonctions analytiques !  

Vous avez des questions ou des commentaires ? Visitez le forum de discussion du cours pour discuter avec d'autres apprenants.

---

# **EXERCICE**

### Introduction
Ici, vous utiliserez les Fonctions fen√™tr√©es (*victoirefonctions de fen√™tre) pour r√©pondre √† des questions sur l‚Äôensemble de donn√©es **Trajets en taxi √† Chicago**.

Avant de commencer, ex√©cuter

In [18]:
from google.cloud import bigquery

# Cr√©er un objet "Client"
client = bigquery.Client()

# R√©f√©rencer le dataset "chicago_taxi_trips"
dataset_ref = client.dataset("chicago_taxi_trips", project="bigquery-public-data")

# Requ√™te API - r√©cup√©rer le dataset
dataset = client.get_dataset(dataset_ref)

# R√©f√©rencer la table "taxi_trips"
table_ref = dataset_ref.table("taxi_trips")

# Requ√™te API - r√©cup√©rer la table
table = client.get_table(table_ref)

# Afficher les cinq premi√®res lignes de la table
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,5003bdd51918a9b5a52134096663b4d7e02395c5,2130bc5fd239a4e3b304662424fb4cc7db0ca7abf78cc5...,2013-02-25 14:15:00+00:00,2013-02-25 14:15:00+00:00,120,0.00,<NA>,<NA>,<NA>,<NA>,...,NaN,NaN,Cash,None,NaN,NaN,None,NaN,NaN,None
1,720534d264001b2644f682755b294067fdf1da21,4bb55b69e710d1792f5fd4888001f4ff0ce34040f976f8...,2013-06-02 08:15:00+00:00,2013-06-02 08:15:00+00:00,60,0.02,<NA>,<NA>,<NA>,<NA>,...,NaN,NaN,Cash,None,NaN,NaN,None,NaN,NaN,None
2,515b9a6d5234a4d1fb559dca27b3e1cc541a342d,4bb55b69e710d1792f5fd4888001f4ff0ce34040f976f8...,2013-06-24 06:15:00+00:00,2013-06-24 06:15:00+00:00,60,0.04,<NA>,<NA>,1,77,...,NaN,NaN,Cash,None,42.009623,-87.670167,POINT (-87.67016685690001 42.0096228806),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999)
3,8afd48d966bf464e93127f43b72a8e405596a8eb,0150188f8c8e8973a198d4af0b427fca8ff48df2662d6b...,2013-02-01 07:00:00+00:00,2013-02-02 00:00:00+00:00,61560,0.00,<NA>,<NA>,<NA>,<NA>,...,0.0,0.0,Cash,None,NaN,NaN,None,NaN,NaN,None
4,fe73a44f01fdd2a3c740a01f53e97ec2ced93455,0150188f8c8e8973a198d4af0b427fca8ff48df2662d6b...,2013-02-01 07:00:00+00:00,2013-02-02 00:00:00+00:00,60900,0.00,<NA>,<NA>,<NA>,<NA>,...,0.0,0.0,Cash,None,NaN,NaN,None,NaN,NaN,None

---

### Question 1) Comment pr√©dire la demande de taxis ?  
Imaginons que vous travaillez pour une entreprise de taxis et que vous souhaitez **pr√©dire la demande de taxis**. Dans ce but, vous aimeriez cr√©er un **graphique** montrant une **moyenne glissante** du nombre quotidien de trajets en taxi.  

Modifiez la requ√™te **(partiellement compl√©t√©e ci-dessous)** afin qu'elle renvoie un **DataFrame** avec **deux colonnes** :  

- **trip_date** : contient une entr√©e pour **chaque date** du **1er janvier 2016 au 31 mars 2016**.  
- **avg_num_trips** : affiche le **nombre moyen de trajets quotidiens**, calcul√© sur une **fen√™tre mobile** comprenant la **date actuelle**, ainsi que les **3 jours pr√©c√©dents et les 3 jours suivants**, tant que ces jours restent dans la p√©riode des trois mois d√©finis.  

Par exemple, pour calculer la valeur de cette colonne pour le **3 janvier 2016**, la fen√™tre inclura :  
- le **nombre de trajets des 2 jours pr√©c√©dents** (1er et 2 janvier 2016),  
- la **date actuelle** (3 janvier 2016),  
- et les **3 jours suivants** (4, 5 et 6 janvier 2016).  

Cette requ√™te est **partiellement compl√©t√©e** pour vous, et vous devez **uniquement** √©crire la partie qui calcule la colonne **avg_num_trips**.  

**Remarque** : Cette requ√™te utilise une **expression de table commune** (*Common Table Expression - CTE*). Si vous avez besoin de r√©viser son fonctionnement, vous pouvez consulter ce [tutoriel](https://www.kaggle.com/learn/intro-to-sql) dans le cours **Introduction √† SQL**.

In [24]:
avg_num_trips_query = """
                        WITH trips_by_day AS
                        (
                            SELECT DATE(trip_start_timestamp) AS trip_date,
                                   COUNT(*) AS num_trips
                            FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                            WHERE trip_start_timestamp >= '2016-01-01' 
                                  AND trip_start_timestamp < '2016-04-01'
                            GROUP BY trip_date
                            
                        )
                        SELECT trip_date,
                               AVG(num_trips) 
                               OVER (
                                   ORDER BY trip_date
                                   ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING
                               ) AS avg_num_trips
                        FROM trips_by_day
                        ORDER BY trip_date
                     """
# Ex√©cuter la requ√™te et renvoyer un DataFrame pandas
avg_num_trips_result = client.query(avg_num_trips_query).result().to_dataframe()
avg_num_trips_result.head()

    trip_date  avg_num_trips
0  2016-01-01   73313.750000
1  2016-01-02   72998.200000
2  2016-01-03   73452.166667
3  2016-01-04   74401.428571
4  2016-01-05   73767.285714

---

### Question 2) Pouvez-vous s√©parer et ordonner les trajets par zone communautaire ? 

La requ√™te ci-dessous retourne un **DataFrame** avec trois colonnes issues de la table :  
- **pickup_community_area** (zone communautaire de d√©part),  
- **trip_start_timestamp** (horodatage du d√©but du trajet),  
- **trip_end_timestamp** (horodatage de fin du trajet).  

Modifiez la requ√™te pour ajouter une colonne suppl√©mentaire appel√©e **trip_number**, qui affiche l'ordre dans lequel les trajets ont √©t√© effectu√©s dans leurs zones communautaires respectives.  

Ainsi, le **premier trajet** de la journ√©e provenant de la **zone communautaire 1** doit recevoir la valeur **1** ; le **deuxi√®me trajet** de la journ√©e depuis la **m√™me zone** doit recevoir la valeur **2**, etc.  
De m√™me, le **premier trajet** de la journ√©e provenant de la **zone communautaire 2** doit recevoir la valeur **1**, et ainsi de suite.  

Notez qu'il existe plusieurs fonctions de num√©rotation permettant de r√©soudre ce probl√®me (selon la fa√ßon dont vous souhaitez traiter les trajets qui ont commenc√© **exactement au m√™me moment** dans la m√™me zone communautaire). Pour r√©pondre √† cette question, veuillez utiliser la fonction **RANK()**.

In [29]:
trip_number_query = """
                    SELECT pickup_community_area,
                        trip_start_timestamp,
                        trip_end_timestamp,
                        RANK() OVER (
                            PARTITION BY pickup_community_area, DATE(trip_start_timestamp)
                            ORDER BY trip_start_timestamp
                        ) AS trip_number
                    FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                    WHERE DATE(trip_start_timestamp) = '2013-10-03'
                    ORDER BY pickup_community_area, trip_start_timestamp;
                    """
# Ex√©cuter la requ√™te et renvoyer un DataFrame pandas
trip_number_result = client.query(trip_number_query).result().to_dataframe()
trip_number_result.head()

,pickup_community_area,trip_start_timestamp,trip_end_timestamp,trip_number
0,<NA>,2013-10-03 00:00:00+00:00,2013-10-03 00:00:00+00:00,1
1,<NA>,2013-10-03 00:00:00+00:00,2013-10-03 00:00:00+00:00,1
2,<NA>,2013-10-03 00:00:00+00:00,2013-10-03 00:15:00+00:00,1
3,<NA>,2013-10-03 00:00:00+00:00,2013-10-03 00:00:00+00:00,1
4,<NA>,2013-10-03 00:00:00+00:00,2013-10-03 00:00:00+00:00,1

### Explication :
- **RANK() OVER (...):** attribue un num√©ro de classement √† chaque trajet.
- **PARTITION BY pickup_community_area, DATE(trip_start_timestamp):** classe les trajets par **zone communautaire** et par **jour**.
- **ORDER BY trip_start_timestamp:** classe les trajets par ordre chronologique.  
- **WHERE DATE(trip_start_timestamp) = '2013-10-03':** filtre les trajets pour la date sp√©cifi√©e.  

Ainsi, chaque trajet est num√©rot√© en fonction de son ordre d'apparition dans sa zone communautaire et pour chaque jour. üöñüìä

---

## Question 3) Combien de temps s'√©coule entre les trajets ?

La (partielle) requ√™te ci-dessous montre, pour chaque trajet dans la p√©riode s√©lectionn√©e, le **taxi_id**, le **trip_start_timestamp** et le **trip_end_timestamp** correspondants.

Votre t√¢che dans cet exercice est de modifier la requ√™te pour inclure une colonne suppl√©mentaire appel√©e **prev_break**, qui montre la dur√©e de la pause (en minutes) que le chauffeur a eue avant chaque trajet (cela correspond au temps entre le **trip_start_timestamp** du trajet actuel et le **trip_end_timestamp** du trajet pr√©c√©dent). Partitionnez le calcul par **taxi_id**, et ordonnez les r√©sultats au sein de chaque partition par **trip_start_timestamp**.

Certains r√©sultats d'exemple sont montr√©s ci-dessous, o√π toutes les lignes correspondent au m√™me chauffeur (ou **taxi_id**). Prenez le temps de v√©rifier que les valeurs dans la colonne **prev_break** ont du sens pour vous !

Notez que le premier trajet de la journ√©e pour chaque chauffeur devrait avoir une valeur de **NaN** (not a number) dans la colonne **prev_break**.

In [34]:
break_time_query = """
                   SELECT taxi_id,
                       trip_start_timestamp,
                       trip_end_timestamp,
                       TIMESTAMP_DIFF(
                           trip_start_timestamp, 
                           LAG(trip_end_timestamp) 
                               OVER (
                                    PARTITION BY taxi_id 
                                    ORDER BY trip_start_timestamp), 
                           MINUTE) as prev_break
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE DATE(trip_start_timestamp) = '2013-10-03' 
                   """
# Ex√©cuter la requ√™te et renvoyer un DataFrame pandas
break_time_result = client.query(break_time_query).result().to_dataframe()
break_time_result.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,prev_break
0,0daf144a0b4f020f8accbe2464c459e2a17b0d2e085d0b...,2013-10-03 18:00:00+00:00,2013-10-03 18:00:00+00:00,285
1,0fdab9be71f6d88e3d3a2e115afc5a33d2bf74153792c5...,2013-10-03 19:45:00+00:00,2013-10-03 19:45:00+00:00,165
2,18a877defd9c560103bd4c5b16d4de02031bfaa4eb859b...,2013-10-03 09:45:00+00:00,2013-10-03 09:45:00+00:00,510
3,1e0f9d73609c308efb157811e55606b26b659aa59c5d63...,2013-10-03 10:30:00+00:00,2013-10-03 11:15:00+00:00,165
4,1e0f9d73609c308efb157811e55606b26b659aa59c5d63...,2013-10-03 20:30:00+00:00,2013-10-03 21:15:00+00:00,555

Dans cette version :
- **LAG(trip_end_timestamp)** est utilis√© pour obtenir le **trip_end_timestamp** du trajet pr√©c√©dent pour chaque chauffeur (**taxi_id**).
- **PARTITION BY taxi_id** permet de calculer la diff√©rence entre les trajets pour chaque chauffeur.
- **ORDER BY trip_start_timestamp** garantit que les trajets sont bien tri√©s par heure de d√©part.